/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2016, 12:00:22 PM
    Author     : papali
*/

label.error{display: inline-block; clear: both; float: left;}
.close {color: #556AA4; opacity: 1;}
.close:hover{color: #000; opacity: 1;}

/*.modal-header {font-weight: 900;padding:9px 15px;border-bottom:1px solid #eee;color: #FFF;background-color: #556AA4;-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;} */
.modal-header1{font-weight: 900;padding:9px 15px;border-bottom:1px solid #eee;color: #000 !important;background-color: #FFFFFF !important;-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;} 
.requiredLabel:after{color: #d00;content: "*";position: absolute;margin-left: 8px;top:7px;color:#d00;}
.egiftsportal-feedback-right-floating-btn{position: fixed;top: 0;bottom: 0;height: 3.5em;margin: auto;right: 0;padding:0px 30px;
   -webkit-transform-origin: 100% 50%;-moz-transform-origin: 100% 50%;-ms-transform-origin: 100% 50%;-o-transform-origin: 100% 50%;
   transform-origin: 100% 50%;-webkit-transform: rotate(90deg) translate(50%, 50%);-moz-transform: rotate(90deg) translate(50%, 50%);
   -ms-transform: rotate(90deg) translate(50%, 50%);-o-transform: rotate(90deg) translate(50%, 50%);transform: rotate(90deg) translate(50%, 50%);}

.modal.fade:not(.in).bottom .modal-dialog {-webkit-transform: translate3d(0, 25%, 0);transform: translate3d(0, 25%, 0);}
.modal.fade:not(.in).bottom-right .modal-dialog {-webkit-transform: translate3d(25%, 25%, 0);transform: translate3d(25%, 25%, 0);}

